<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <title>Hello, sbb!</title>
</head>

<body>
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<!-- 컨테이너 시작 -->
<div class="container my-3">
    <div class="row">
        <!-- 메인 콘텐츠 -->
        <main class="col-md-9">
            <!-- 기본 템플릿 안에 삽입될 내용 -->
            <th:block layout:fragment="content"></th:block>
        </main>
        <aside class="col-md-3">
            <div th:replace="~{sidebar :: sidebar}"></div>
        </aside>
    </div>
</div>

<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<!-- 추가 스크립트 -->
<th:block layout:fragment="script"></th:block>
</body>

</html>
