<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/modify/password}" method="post">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">현재 비밀번호</label>
            <input type="password" name="currentPassword" id="currentPassword" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nextPassword" class="form-label">바꿀 비밀번호</label>
            <input type="password" name="nextPassword" id="nextPassword" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
</html>
