<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
<table class="table">
    <thead class="table-dark">
        <tr class="text-center">
            <td>번호</td>
            <td style="width:50%">내용</td>
            <td>날짜</td>
            <td>글쓴이</td>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" th:each="page, loop : ${paging}">
            <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start" th:text="${page.content.length() > 50 ? #strings.substring(page.content, 0, 50) + '...' : page.content}"></td>
            <td th:text="${#temporals.format(page.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${page.author.username}"></td>
        </tr>
    </tbody>
</table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class = "pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    이전
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                     다음
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0; // 검색버튼 클릭 시 0페이지로.
        document.getElementById('searchForm').submit();
    });
</script>
</body>
</html>